<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../shark.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../shark.ico" type="image/x-icon">
    <title>Tiburones Voladores</title>
      <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  </head>
  <body>
    <!-- Encabezado -->
    <header>
        <nav>
            <a href="../main/index">
                <img src="../../static/image-removebg-preview (2).png" class="logo" alt=""/>
            </a>
            <a href="/main/presentacion" class="link">Página de Presentación</a>
            <a href="/main/requerimientos" class="link">Requerimientos</a>
            <a href="/main/desarrollo" class="link">Para Desarrollo</a>
            <a href="/main/despliegue" class="link">Despliegue</a>
        </nav>
    </header>
  </body>
  <section class="content">
    <h1>Desarrollo</h1>
  </section>
</html>
