<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="../../shark.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../shark.ico" type="image/x-icon">
    <title>Tiburones Voladores</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>

<!-- Encabezado -->
<header>
    <nav>
        <a href="../main/index">
            <img src="../../static/image-removebg-preview (2).png" class="logo" alt=""/>
        </a>
        <a href="/main/presentacion" class="link">Página de Presentación</a>
        <a href="/main/requerimientos" class="link">Requerimientos</a>
        <a href="/main/desarrollo" class="link">Para Desarrollo</a>
        <a href="/main/despliegue" class="link">Despliegue</a>
    </nav>
</header>

<!-- Contenido -->
<section class="content">
    <h1>Descripción del proyecto</h1>
    <h2>APLICACIÓN PARA MANEJO DE MÚSICA</h2>
    <p>¡Bienvenido a nuestra emocionante nueva plataforma de música interactiva!</p>
    <p>En nuestro proyecto, estamos a punto de abrir las puertas a un mundo lleno de ritmo y melodía, donde la música es
        la protagonista y tú eres el director. Permítenos explicarte de qué se trata esta emocionante aventura que estás
        a punto de emprender.</p>
    <p><strong>¿Qué es lo que hacemos?</strong></p>
    <p>Nos complace presentarte una aplicación web que se centra en brindar una experiencia musical única para dos tipos
        de usuarios:</p>
    <ul>
        <li><strong>Usuario Administrador del Sistema:</strong> Este usuario es el capitán de la nave. Su tarea
            principal es dar forma al universo musical en nuestra plataforma. Podrás crear, editar y eliminar géneros
            musicales y sus respectivas canciones. Imagina que eres un productor musical digitalizando tu propia
            discoteca, ¡la emoción está garantizada!
        </li>
        <li><strong>Usuario Votante:</strong> Este es el fanático de la música, el amante de las listas de reproducción
            y el aficionado a los hits. Tu papel es disfrutar de la música y poner tu granito de arena en la creación de
            listas de reproducción épicas. Conviértete en el DJ virtual de la plataforma al buscar canciones, verificar
            listas por género musical y votar por tus favoritas. ¡También puedes quitar tu voto si cambias de opinión!
        </li>
    </ul>
    <p><strong>¿Qué puedes hacer como Usuario Votante?</strong></p>
    <ul>
        <li><strong>Buscar Canciones:</strong> Explora nuestro vasto catálogo musical y encuentra tus canciones
            favoritas. No importa si eres un fanático del rock clásico o un apasionado del reggaetón, aquí hay algo para
            todos los gustos.
        </li>
        <li><strong>Crear tu Cuenta:</strong> Regístrate en nuestro sistema y configura tu cuenta de usuario
            personalizada. ¡La música te está esperando!
        </li>
        <li><strong>Verificar Listas por Género Musical:</strong> Sumérgete en el mundo de la música por género.
            Encuentra las listas de reproducción que se ajusten a tu estado de ánimo o género favorito.
        </li>
        <li><strong>Votar y Eliminar tu Voto:</strong> ¿Tienes una canción que amas? ¡Vota por ella y ayuda a que suba
            en la lista! Pero si cambias de opinión, no te preocupes, también puedes eliminar tu voto.
        </li>
    </ul>
    <p>¡Únete a nosotros en esta emocionante aventura musical y comienza a disfrutar de la música como nunca antes!</p>
</section>

<!-- Banner Principal -->
<section class="banner">
    <a href="../listaIntegrantes" class="big-link">Listado de Integrantes</a>
</section>

<!-- Sección de Arquitectura del Proyecto -->
<section class="banner">
    <a href="../arquitectura" class="big-link">Arquitectura del Proyecto</a>
</section>

<!-- Sección de Pruebas del Proyecto -->
<section class="banner">
    <a href="../pruebas" class="big-link">Pruebas</a>
</section>

<!-- Formulario de Contacto -->
<section class="contact">
    <h2>CONTÁCTENOS</h2>
    <form method="post" id="contact-form" onsubmit="showAlert()" novalidate>
        <label for="name">Nombre:</label>
        <input
                type="text"
                id="name"
                name="name"
                placeholder="Nombre & Apellido"
                required
                style="display: inline-block"
        />
        <label for="email">Email:</label>
        <input
                type="email"
                id="email"
                name="email"
                placeholder="ejemplo@mail.com"
                required
                style="display: inline-block"
        />
        <button type="submit">Enviar</button>
    </form>
</section>
<script src="../../js/verificaciones.js"></script>
<script>

    function showAlert() {
        alert("Información de Contacto Guardada con éxito!");
    }
</script>
</body>
</html>
